[env]
_.python.venv = { path = ".venv", create = true }

[settings]
experimental = true
pipx_uvx = true
python.uv_venv_auto = true

[tools]
python = "3.13" # Required for documentation generation
rust = "1.89.0" # Required for schematools
"aqua:astral-sh/uv" = "0.8.16"
"aqua:go-task/task" = "3.44.1"
"aqua:google/yamlfmt" = "0.17.2"
"aqua:helm" = "3.18.6"
"aqua:helm/chart-testing" = "3.13.0"
"aqua:mikefarah/yq" = "4.47.2"
"cargo:schematools-cli" = "0.22.0"
"pipx:yamllint" = "1.37.1"
"pipx:yamale" = "6.0.0"

[hooks]
postinstall = "uv pip install --upgrade -r {{config_root}}/docs/requirements.txt"
